body {
  background-color: #fce1d3;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #ff8e71;
  border-width: 5px;
  width: 15%;
}
h1 {
  color: #583d72;
}
h3 {
  color: #9f5f80;
}
